.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    color: #fff;
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) #54B689;
    scrollbar-width: thin;
    text-align: center;
}

.site-title {
    padding-top: 1.5rem;
    font-weight: bold;
}

.mobile-menu-toggler {
  display: none!important;
}

.social-icons-list {
  padding: 0;
  margin: 0;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.social-icons-list li {
  list-style-type: none;
  display: inline-block;
  background-color: var(--white);
  border-radius: 50%;
  line-height: 0.8em;
  padding: 0.45em;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  margin-right: 0.5em;
  cursor: pointer;
}

.social-icons-list li:hover,
.social-icons-list li:active {
    color: #40976f;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.4s ease-in-out;
}

.social-icons-list li:nth-last-child {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .header {
    height: auto;
    width: 100%; 
    display: block;
    position: relative;
  }
  .my-image {
    max-width: 300px;
  }
  .site-title {
    padding: 0;
    margin: 0;
  } 

  .top-header-wrapper {
    display: grid;
    grid-template-columns: 40px 1fr;
 
    justify-content: center;
    align-items: center;
  }
  .mobile-menu-icon {
    color: #fff;
  }

  .site-title {
    margin-left: -40px!important;
  }
  .mobile-menu-toggler 
  
  {
      border: 1px solid rgba(255, 255, 255, 0.8)!important;
      display: block!important;
      border-radius: 0!important;
      max-height: 40px!important;
  }
}