.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background: #54B689;
    color: #fff;
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) #54B689;
    scrollbar-width: thin;
    text-align: center;
}

.site-title {
    padding-top: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .header {
    height: auto;
    width: 100%; 
    display: block;
    position: relative;
  }
  .site-title {
    padding: 0;
    margin: 0;
  }
}