.project-wrapper {
    margin-bottom: 1.25em;
}
.portfolio-item {
    display: grid;
    grid-template-columns: 220px 1fr;
    border-radius: 0!important;
    position: relative;
}

.portfolio-item .card-content {
    border: 1px solid rgba(0,0,0,0.025) !important;
    background-color: #fafafa;
    padding-left: 2em;
    padding-right: 2em;
}

.portfolio-item .card-media { 
    border-radius: 0px!important;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
    border-collapse: collapse;
} 

.filter-item:nth-child(odd) .project-wrapper {
    padding-right: 1em;
}
.filter-item:nth-child(even) .project-wrapper {
    padding-left: 1em;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(41,41,41,0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-project-btn {
  background-color: #434343!important;
}

.project-title {
  font-size: 1.25em!important;
  font-weight: bold!important;
}

.portfolio-item:hover .middle {
  opacity: 1;
}

@media only screen and (max-width: 1450px) {
  .project-wrapper .card-content .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
  
  .project-wrapper .project-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio-item {
      display: grid;
      grid-template-columns: 1fr;
      border-radius: 0!important;
      position: relative;
  }

  .project-wrapper .card-content .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .project-wrapper .project-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
  }
}

@media only screen and (max-width: 425px) { 
  .filter-item:nth-child(odd) .project-wrapper {
      padding-right: 0;
  }
  .filter-item:nth-child(even) .project-wrapper {
      padding-left: 0;
  }
}