.left-decoration {
    content: "";
    display: inline-block;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, #0ea47a, #0bcf97);
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
}